<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>
    <header>
        <%- include("../partials/header", { authenticated: authenticated }) %>
    </header>
    <body class="container">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pad Name</th>
                </tr>
            </thead>
            <tbody>
                <% user.pads.forEach(function(pad, _, i) { %>
                    <tr>
                        <th scope="row"><%= user.pads.indexOf(pad) + 1 %></th>
                        <td><%= pad.name %></td>
                    </tr>
                <% }) %>
            </tbody>
            <form class="add">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInput">Name</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Username" name="addUser">
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Pad Name" name="padName">
                    </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </div>
                </div>
            </form>
        </table>

        <style type="text/css">
            .form-control {
                width: 75%;
            }
        </style>

        <script>
            document.querySelector('.add').addEventListener('submit', function(e) {
                e.preventDefault();
                const form = new FormData(document.querySelector('.add'));
                return fetch('add', {
                    method: 'POST',
                    body: new URLSearchParams(form)
                });
            });
        </script>
        
        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>